body#home {

  font-family: 'Open Sans', sans-serif;
  padding: 1em;
  text-align: center;
}

#logo{
    width: 120px;
    height: 70px;
}

h1, h1 a{

    font-weight: lighter;
    font-size: 1.5em;
    text-decoration: none;
    margin-bottom: 0;
}

h3{

    font-weight: 300;
    font-size: 1em;
    margin-top: 0px;
}

footer{

    font-weight: 300;
    font-size: 0.7em;
    bottom: 1em;    
    margin-top: 1em;
    position:absolute;
}
nav{
    font-size: 1em;
    color: white;
}
nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    border-bottom: solid 3px #b42424;
    margin-right: 0.5em;
}


p {
     font-weight: 300;
     font-size: large;
     margin-top:3em;
}
