body#home {

  font-family: 'Open Sans', sans-serif;
  padding: 1em;
}

#logo{
    width: 120px;
    height: 120px;
}

h1, h1 a{

    font-weight: lighter;
    font-size: 1.5em;
    text-decoration: none;
    margin-bottom: 0;
}

h3{

    font-weight: 300;
    font-size: 1em;
    width: 50%;
    margin-top: 0px;
}

footer{

    font-weight: 300;
    font-size: 0.7em;
    bottom: 1em;
    right: 1em;

}
nav{
    font-size: 1em;
    color: white;
}
nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    border-bottom: solid 3px #b42424;
    margin-right: 0.5em;
}
